Baba
<div className="cakeContainer">
    <img src={chiboust} className="cakeImg img-fluid" alt="..."></img>
    <div className="cakeHover row">
        <p className="productName">CHIBOUST</p>
        <div className="cakeDescription">
            <p>Banana Chiboust cream</p>
            <p>Orange marmalade</p>
            <p>Orange crémeux</p>
            <p>Caramelized banana</p>
            <p>Short crust</p>
        </div>     
        <div className="allergy">
            <span> <img className="allergen col-2" src={wheat} alt="wheat"></img></span>
            <span> <img className="allergen col-2" src={dairy} alt="dairy"></img></span>
            <span> <img className="allergen col-2" src={egg} alt="egg"></img></span>
            <span> <img className="allergen col-2" src={alcohol} alt="alcohol"></img></span>
        </div>
    </div>
</div> 

Chiboust
<div className="cakeContainer">
            <img src={baba} className="cakeImg img-fluid" alt="..."></img>
            <div className="cakeHover row">
                <p className="productName ">BABA</p>
                <div className="cakeDescription ">
                    <p>Congnac crème brûlée</p>
                    <p>Pouched pear</p>
                    <p>Vanilla cream</p>
                    <p>Rhum Baba</p>
                    <p>Almond crumble</p>
                </div>
                <div className="allergy ">
                    <span> <img className="allergen col-2" src={wheat} alt="wheat"></img></span>
                    <span> <img className="allergen col-2" src={dairy} alt="dairy"></img></span>
                    <span> <img className="allergen col-2" src={egg} alt="egg"></img></span>
                    <span> <img className="allergen col-2" src={nuts} alt="nuts"></img></span>
                    <span> <img className="allergen col-2" src={alcohol} alt="alcohol"></img></span>                    
                </div> 

            </div>
</div> 

